extends ../layouts/default


block content

	#firstpage.page
		img(src="vector/xplodingheart.svg" class="logo")
	#secondpage.page
//-
	.maintenence

		p(class="caption") #{caption}
		.social
			//p stay tuned :
			a(href="https://www.instagram.com/gandolf_music" target="_blank"): img(src="/vector/instagram_b.svg")
			a(href="https://twitter.com/gandolf_music" target="_blank"): img(src="/vector/twitter_b.svg")
			a(href="https://soundcloud.com/gandolf" target="_blank"): img(src="/vector/soundcloud_b.svg")
	.bottomlinks
		a(href="/impressum") impressum
		a(href="mailto:contact@pietpeng.com") contact@pietpeng.com
