@font-face {
    font-family: DeJaVuDL;
    src: url('./../fonts/dejavusans-bold-webfont.woff');
    //src: url('./../fonts/dejavusans.ttf');
}
body {
  //position: absolute;
  //background: black url('/images/background.jpg') cover fixed no-repeat center center;
  background-color: #cd472a;//black;//rgb(41, 47, 51);

  color:#33292a;
  font-family: 'DeJaVuDL', sans-serif;
  //min-height: 100vw;


}
#bodybackground {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('/vector/xplode.svg');
  background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}
