//@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Roboto+Slab');
@font-face {
    font-family: DeJaVuDL;
    src: url('./../fonts/dejavusans-bold-webfont.woff');
    //src: url('./../fonts/dejavusans.ttf');
}

.page {
  position: relative;
  width: 100%;
  height: 100%;
}
#firstpage {
  background-color: red;
}
#secondpage {
  background-color: blue;
}
/*

$mwidth: 70vw;
$mheight: 90vh;
$fsize: 4vw;

.maintenence {
  position: absolute;

  height: $mheight;

  top:50%;
  margin-top: -$mheight/2;

  left:50%;

  .logo {
    position: relative;
    left: 50%;

    width: 150px;
    height: 150px;
    margin:50px;
    margin-left: -75px;
    //vertical-align: middle;
  }

}

//@media (min-width: 450px){
  .maintenence {
    width: $mwidth;
    margin-left: -$mwidth/2;
  }
//}

.caption {
  position: relative;
  color: white;
  width: 100%;
  font-size: $fsize;

  font-family: 'DeJaVuDL', sans-serif;
  text-align: center;
  //font-weight: bold;
  animation-name: fadein;
  animation-duration: 9s;
}
.social {
  font-family: 'Indie Flower', cursive;
  //background-color:rgba(255,255,255,0.1);
  border-radius: 3px;
  font-size: 25px;
  color:white;
  width: 100%;
  text-align: center;
  animation: fastfadein;
  animation-duration: 8s;
  margin-top: 50px;
}

.social img {
  width: 30px;
  height: 30px;
  margin: 3px;
  padding: 1px;
  border-radius: 5px;
  //background-color: rgba(255,255,255,1);

  //fill:#FFF;
}
.social img:hover {
  background-color: rgba(255,255,255,0.6);
}
.social p, .social a {
  display: inline-block;
}

.bottomlinks {
  position: absolute;
  width: 100%;
  bottom:0px;
  font-family: sans-serif;

  text-align: center;
  font-size: 10px;
  color: white;
  p,a {
    display: inline-block;
    margin: 5px;
    color: white;
  }
}

@keyframes fadein {
    0%   {color: #cd472a; filter: blur(10px); opacity: 0;}
    10%  {color: #c33825; filter: blur(2px); opacity: 1;}
    100% {color: white; filter: blur(0px)}
}

@keyframes fastfadein {
    0%   {opacity: 0;}
    90%  {opacity: 0;}
    100% {opacity: 1;}
}
*/
